@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,600i,700');

* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    background: $badass;
    font-family: 'Source Sans Pro', Helvetica, Clean, sans-serif;
    font-weight: 400;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
  color: $badass;
  text-decoration: none;
  &hover {
    text-decoration: underline;
  }
}

p {
    margin: 1rem 0;
}

img {
    width: 100%;
}

.site-wrap {
    max-width: 90vw;
    margin: 40px auto;
    background: white;
    padding: 20px 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transform: scale(0.98);
    transition: transform 0.5s;
}

body.fixed-nav .site-wrap {
    transform: scale(1);
}

