nav {
  background: #007eb6;
  width: 100%;
  transition: all 0.5s;
  z-index: 1;
  
  
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
  }
  
  li {
    flex: 1;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
    color: white;
  }
  
  body.fixed-nav & { 
    position: fixed;
    top: 0;
    box-shadow:0 5px 3px rgba(0,0,0,0.1);
    width: 100%;
    z-index: 1;
  }
}

.logo img {
  padding-top: 0.25rem;
  width: 2.5rem;
}
.logo {
  max-width:0;
  overflow: hidden;
  background: white;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
}
.fixed-nav .logo {
  max-width:500px;
}