nav {
  background: #007eb6;
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1; 
  display: flex;
  .fixed-nav & {
    position: fixed;
    box-shadow: 0 5px 3px rgba(0, 0, 0, 0.1); 
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 2.25rem; 
    @media screen and (min-width: $break-two) {
      flex-direction: row;
    }
  }
  #nav-links {
    display: none;
    @media (min-width: $break-two){
      display: flex;
    }
  }
  li {
    padding: 0.5rem;
    align-items: center; 
    @media screen and (min-width: $break-two) {
      padding: 0;
      display: flex;
      flex: 1;
      justify-content: center;
      text-align: center;
    }
  }
  a {
    text-decoration: none;
    display: inline-block;
    color: white; 
  }
}
.show {
  display: block !important;
}

.logo {
  display: block;
  max-width:100%;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 30px;
  @media screen and (min-width: $break-two) {
    max-width:0;
    overflow: hidden;
  }
  .fixed-nav & {
    max-width:500px;
  }
  img {
    padding-top: 0.25rem;
    width: 2.5rem;
  }
}