
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    }
    
    .site-header {
      background: #0D1313;
      color: white;
      display: flex;
      align-items: center;
      padding: 0.5rem;
    }
    
    .site-nav ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }
    
    .account-dropdown ul {
      display: none;
    }
    
    .logo {
      text-decoration: none;
      color: white;
      font-size: 0.9rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      padding: 10px;
    }
    
    a {
      text-transform: uppercase;
      text-decoration: none;
      color: #CDD0D0;
      padding: 20px;
      display: inline-block;
    }
    
    .active a {
      font-weight: bold;
      color: #62DEBE;
      background: darken(#62DEBE, 40%);
    }
    
    .account-actions {
      margin-left: auto;
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
    
    .sign-out-link {
      color: #62DEBE;
      font-size: 0.8rem;
      margin-left: 10px;
      text-transform: uppercase;
    }
    
    @media (max-width: 600px) {
      .site-header {
        flex-wrap: wrap;
      }
      .site-nav {
        order: 2;
        background: #333;
        width: 100%;
      }
    }