		/**
		 * Add border box sizing to everything
		 * @link http://www.paulirish.com/2012/box-sizing-border-box-ftw/
		 */
		
		*,
		*:before,
		*:after {
			box-sizing: border-box;
		}

		/**
		 * Layout
		 */
		body {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
			font-size: 112.5%;
			margin-left: auto;
			margin-right: auto;
			max-width: 40em;
			width: 88%;
		}

		/**
		 * Forms
		 */
		[type="text"],
		[type="email"],
		select,
		textarea {
			display: block;
			margin-bottom: 1em;
			width: 100%;
		}

		textarea {
			height: 8em;
		}

		label {
			display: block;
			font-weight: bold;
			margin-bottom: 0.25em;
		}

		.label-plain {
			font-weight: normal;
		}